i2MFCS.WMS.Core/Connected Services/MFCS_Proxy/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/WMS/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.DTO" />
  <xs:import schemaLocation="http://localhost:9001/WMS/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="MFCS_Submit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.DTO" minOccurs="0" name="cmds" nillable="true" type="q1:ArrayOfDTOCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MFCS_SubmitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MFCS_PlaceBlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="locs" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="blocktype" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MFCS_PlaceBlockResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MFCS_PlaceUnblock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="locs" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="blocktype" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MFCS_PlaceUnblockResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>