i2MFCS.WMS.Core/Connected Services/MFCS_Proxy/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTOCommand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOCommand" nillable="true" type="tns:DTOCommand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOCommand" nillable="true" type="tns:ArrayOfDTOCommand" />
  <xs:complexType name="DTOCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Order_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="TU_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOCommand" nillable="true" type="tns:DTOCommand" />
</xs:schema>